<!DOCTYPE html>
<!--  -->
<html ng-app="paranormalApp">
<!--  -->
<head>
	<title>ng-route practice</title>
	<link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>

	<!--  -->
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/routes.js"></script>
	<script type="text/javascript" src="/js/carFactory.js"></script>
	<!--  -->
</head>
<body>

	<h1>Testing the index ejs view</h1>

	<!--  -->
	<nav-bar>GHOSTS!</nav-bar>
	<!--  -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
			<!--  -->
				<div ng-view></div>
			<!--  -->
			</div>
		</div>
	</div>
</body>
</html>
