body {
	background: white;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	background-position: center center;
}

body.page-home {
	background-image: url("/images/bg.jpg");
}

.page-home .navbar-default {
	background: none;
}

html {
	min-height: 100%;
}

a.places-link {
	background: white;
}


.places-link img {
	width: 100%;
	margin-top: 15px;
}

.form-group {
	margin-top: 20px;
}

.home-text .btn {
	color: black;
}

.home-text {
	color: white;
	text-align: center;
}

h1, h2 {
	font-family: Lato;
}

.home-text h1 {
	font-size: 56px;
	margin-bottom: 40px;

}

.home-text h2 {
	font-size: 30px;
	margin-bottom: 40px;
	font-weight: 300;
}

.caption {
	color: #004600;
}

.caption p {
font-size: 22px;
}

.row .ng-scope {
	background: white;
}

.book-btn .btn {
	color: white;
}

.loader {
	animation: 10s move infinite;
	animation-timing-function: linear;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	bottom: 20px;
	pointer-events: none;
}
@keyframes move {
	from {margin-left: -25%}
	to {margin-left: 105%}
}
