body {
	background-image: url("/images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: gray;
	min-height: 100%; 
	background-position: center center; 
}

html {
	min-height: 100%; 
}

a.places-link {
	background: white;
}


.places-link img {
	width: 100%;
	margin-top: 15px; 
}

.form-group {
	margin-top: 300px;
}

.btn {
	color: black;
	font-size: 16px; 
}

.home-text {
	color: white;
	text-align: center; 
}

.home-text h1 {
	font-size: 56px; 
	margin-bottom: 40px; 

}

.home-text h2 {
	font-size: 32px; 
	margin-bottom: 40px; 
}

.caption {
	color: #004600;
}

.caption p {
font-size: 22px;
}

.row .ng-scope {
	background: white;
}
