
<!-- 
<h2 ng-show="placesCtrl.places.length">All the Scary Places:</h2>
<div class="list-group">
	<a ng-repeat="place in places" href="/place/{{ place._id }}" class="list-group-item">
		<h3 class="list-group-item-heading">{{ place.name }} {{ place.title }}</h3>
		<p class="list-group-item-text">{{ place.city }}</p>
	</a>
</div>


<h2 ng-show="placesCtrl.places.length">All the Scary Places:</h2>
<div class="list-group row">

	<a ng-repeat="place in places" href="/place/{{ place._id }}" class="col-md-3">

		<h2 class="col-md-3-heading">{{ place.title }}</h2>
		<p class="col-md-3-text"><strong>{{ place.city }}</strong></p>
	</a>
</div> -->

<h2 ng-show="placesCtrl.places.length">All the Scary Places:</h2>
<div class="row">
	<a ng-repeat="place in places" href="/place/{{ place._id }}" class="places-link col-sm-6 col-md-4">
		<img src="/images/{{ place._id }}.jpg">
		<div class="caption">
			<h3>{{ place.title }}</h3>
			<p>{{ place.city }}</p>
		</div>
	</a>
</div>