<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">NEVER TRESPASS on any of these locations!!! Always get permission to enter abandoned or private property!</h3>
	</div>
	<div class="panel-body">
		<h1><strong>{{ place.title }}</strong></h1>
		<h3>{{ place.city }} , {{ place.state }}</h3>
		<div><h3><strong>The Story...</strong></h3>
			<h3>{{ place.description }}</h3></div>
			<!-- <p>id: {{ place._id }}</p> -->
			<div class="book-btn">
				<a id="bookbtn" href="/book/{{place._id}}" class="btn btn-primary">Inquire about this Property</a> 
			</div>

		</div>


	</div>


