
 <div ng-controller="FetchController">
 	<div class="form-group">
 		<div class="col-sm-8 col-sm-offset-2">
 			<div class="home-text">
 			<h1>Don't Be Shy</h1>
 				<h2>Paranormal &amp; Haunted Location Bookings</h2>
 				<div class="input-group">
 					<input type="text" class="form-control">
 					<span class="input-group-btn">
 						<button id="fetchbtn" ng-click="go()" class="btn btn-default">Investigate</button>
 					</span>
 				</div>

 			</div>
 		</div>
 	</div>
 </div>


<!-- <div ng-controller="FetchController">
  <input type="text" ng-model="search" size="80" class="form-control">
  <button id="fetchbtn" ng-click="go()" class="btn btn-default">Find Ghosts</button><br>
</div>
 -->
